
body{
   background-color: #544;
}

h1{
   background-color: #744;
   color: #fff;
}

.visuals{
   display: grid;
   grid-template-columns: auto auto;
   padding: 10px;
   background-color: #544;
   width: 100%;
}
 
.legend1 {
   position: absolute;
   left:800px;
   top:350px;
}

#dataDisplay{
   text-align: center;
   vertical-align: middle;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: large;
}

path{
   pointer-events: all;
}
#map{
   max-height: fit-content;
}
#bar{
   background-color: #fff;
   border-radius: .5em;
   border: #544 1em solid;
}
.mainDiv{
   background-color: #fff;
   border-radius: .5em;
   border: #544 1em solid;
   display: flex;
}
#info{
   background-color: #fff;
   position: absolute;
   top: 640px;
   width: 956px;
   height: 415px;
   border: #446 .15em dashed;
}
#footer{
   text-align: center;
}



