
body{
   background-color: #454;
}

h1{
   background-color: #464;
   color: #fff;
}

.visuals{
   display: grid;
   grid-template-columns: auto auto;
   padding: 10px;
   background-color: #454;
   width: 100%;
}
 
.legend1 {
   position: absolute;
   left:800px;
   top:350px;
}

#dataDisplay{
   text-align: center;
   position: relative;
   width: 40%;
   height: 300px;
   border: #000 solid;
}

path{
   pointer-events: all;
}
#map{
   max-height: fit-content;
}
#bar{
   background-color: #fff;
   border-radius: .5em;
   border: #454 1em solid;
}
.mainDiv{
   background-color: #fff;
   border-radius: .5em;
   border: #454 1em solid;
   display: flex;
}
#info{
   background-color: #fff;
   position: absolute;
   top: 640px;
   width: 956px;
   height: 415px;
   border: #446 .15em dashed;
}



