
/* .data_visual:hover{
   fill-opacity: .5;
   fill: rgb(0, 155, 50);
} */

.visuals{
   display: grid;
   grid-template-columns: auto auto;
   padding: 10px;
   background-color: rgb(255, 255, 255);
   width: 100%;
}
div.tooltip {   
   position: absolute;           
   text-align: center;           
   width: 60px;                  
   height: 28px;                 
   padding: 2px;             
   font: 12px sans-serif;        
   background: white;   
   border: 0px;      
   border-radius: 8px;           
   pointer-events: none;         
}
       
/* Legend Font Style */
body {
   font: 11px sans-serif;
   background-color: rgb(255, 255, 255);
}
       
/* Legend Position Style */
.legend1 {
   position: absolute;
   left:800px;
   top:350px;
}

.legend2 {
   position: absolute;
   left: 800px;
   top: 1050px;
}

#dataDisplay{
   text-align: center;
   position: relative;
   width: 40%;
   height: 300px;
   border: #000 solid;
}

/* .AL:hover{
   stroke: #f04;
   stroke-width: 4px;
} */
